*{
  border: none;
}

body{
  background-color: white;
  background-image: none;

}

  form {
    
    margin: auto;
    margin-top: 5%;
    width: 75%;
              
  }
  

  form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
  }
  
  input{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    
    border: solid black 1px;
  }

  textarea{
    border: solid black 1px;
  }
  
  #radio {
    display: inline-block;
  }

  #checkbox {
    display: flex;
  }
  
  
  select {
    margin: 1em 5px;
    font-size: medium;
  }
  
  button{
    width: 40%;
    padding: 15px 0;
    font-size: medium;
    font-weight: bold;
    color:white;
    background: #5ABDAD;
    border:none;
    border-radius: 5px;
    transition: 1s all;
    cursor:pointer;
  }
  
  .enviar:hover{
    background: darkorange;
    transform: scale(1.2);
  }
  
  table{
    margin: 0 5%;
  }
  thead{
    background: #555555;
    color:white;
    font-weight: bold;
  }
  
  td,th{
    border: 1px solid #000000;
    padding: 8px 15px;
  }