.header {
  --size: 5.25rem;

  --margin-vertical: 1rem;
  --margin-horizintal: 2rem;

  --padding-vertical: 0.0625rem;
  --padding-horizintal: 0.25rem;

  --button-width: 6rem;
  --button-width-menu: 5.25rem;
  --button-height: 3.125rem;

  --button-background-color: #24156e;
  --button-background-color-hover: #00457c;

  background-color: var(--base50);
  width: 100%;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.logo {
  margin: calc(0.3125 * var(--margin-vertical)) var(--margin-horizintal);
  padding: 0;

  position: absolute;
  top: 0;
  left: 0;
}

.logo img {
  width: calc(0.875 * var(--size));
  height: calc(0.875 * var(--size));
}

.nav-bar {
  width: 100%;
}

.menu-btn {
  background-color: var(--base800);
  color: var(--base50);

  list-style-type: none;
  border: none;

  width: var(--button-width-menu);
  height: var(--button-height);

  margin: var(--margin-vertical) var(--margin-horizintal);
  margin-left: calc(100% - var(--button-width) - var(--button-height));
  padding: var(--padding-vertical) var(--padding-horizintal);
}

.nav-menu {
  width: 100%;

  margin: 0;
  padding: 0;
}

.nav-item {
  display: flex;
  height: 3rem;

  list-style: none;
  background-color: var(--base800);
  color: var(--base50);

  margin: calc(0.25 * var(--margin-vertical)) calc(0.25 * var(--margin-horizintal));
  padding: 0;
}

.nav-item:hover {
  background-color: var(--base400);
}

.nav-item a {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: start;

  color: var(--base50);
  padding: calc(4 * var(--padding-vertical)) calc(4 * var(--padding-horizintal));

  vertical-align: middle;
  text-decoration: none;
}

@media (min-width:768px) {
  .menu-btn {
    display: none;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .nav-item {
    border-radius: 5px;

    width: var(--button-width);
    height: var(--button-height);
    margin: var(--margin-vertical) 0;
    padding: var(--padding-vertical) var(--padding-horizintal);
  }

  .nav-item a {
    align-items: center;
    justify-content: center;
  }

  .nav-item:last-child {
    margin-right: calc(8 * var(--padding-horizintal));    
  }

  .nav-item, .nav-item > a {
    background-color: var(--color-base);
    color: var(--button-background-color);
  }

  .nav-item:hover, .nav-item:hover > a {
    background-color: var(--button-background-color-hover);
    color: var(--base50);
  }
}

/* collapsibility @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
@media (min-width:768px) {
  .collapse:not(.show),
  .collapse.show {
    display: flex !important;
  }
}

.collapse:not(.show) {
  display: none
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height .35s ease
}